.home{
    width:90%;
    margin:40px auto;
}

.dashboard-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:40px;
}

.dashboard-header button{

    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
}